/* BEGIN CODE HERE */
header{
    height: 150px;
    min-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
  }
  table{
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
  }
  table, tr td,tr th {
    border: 1px solid;
    text-align: center;
  }
  .container-frame4{
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
    min-width: 1200px;
    padding: 0;
    margin-top: 25px;
  }
  .container{
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
    min-width: 1200px;
    padding: 0;
    margin-top: 25px;
  } 
  .container-frame5{
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
    min-width: 1200px;
    padding: 0;
    margin-top: 25px;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    min-width: 1200px !important;

}

.text-center {
    text-align: center;
}

  
  
    
  /* END CODE HERE */